[General]

# Setting type: String
# Default value: en-GB
LastLanguage = FR-fr

# Setting type: String
# Default value: False
activeDubbing = False

extraDubbing = False

debugAudioSwap = False

voiceSpatialOverride = Original

audioPreloadMode = Scene

